<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adidas</title>
    <link rel="icon" href="../img/logoshoes.png" sizes="">
    <link rel="stylesheet" href="../CSS/styleH&F.css">
    <link rel="stylesheet" href="../CSS/styleB.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone"
          rel="stylesheet">
</head>
<body>
<div class="containerms">
    <table class="main">
        <tr>
            <td id="main-title"><p>Nhóm 5</p></td>
            <td id="main-title"><a href="Trangchu.html"><img src="../img/logoshoes.png" alt="Logo Giày" id="Logo"></td>
            <td id="main-title">
                <a href="GioHang.html" id="main-item">Giỏ hàng<span class="material-icons-outlined">shopping_cart</span></a>
                <a href="../php/dangnhap.php" id="main-item">Tài khoản<span class="material-icons-outlined">account_circle</span></a>
            </td>
        </tr>
    </table>
    <ul class="menu">
        <li class="menu-item"><a href="Trangchu.html">Trang chủ</a></li>
        <li class="menu-item brand-items">
            <a href="#">Thương hiệu
                <span class="material-icons-outlined dropdown-icon">
                        arrow_drop_down
                    </span>
            </a>
            <ul class="drdn-menu">
                <li class="drdn-item"><a href="TrangAdidas.html">Adidas</a></li>
                <li class="drdn-item"><a href="TrangNike.html">Nike</a></li>
            </ul>
        </li>
        <li class="menu-item brand-items">
            <a href="#">Sản phẩm
                <span class="material-icons-outlined dropdown-icon">
                        arrow_drop_down
                    </span>
            </a>
            <ul class="drdn-menu">
                <li class="drdn-item"><a href="TrangGiay.html">Giày</a></li>
                <li class="drdn-item"><a href="TrangPhuKien.html">Phụ kiện</a></li>
            </ul>
        </li>
        <li class="menu-item"><a href="DichVu.html">Dịch vụ</a></li>
    </ul>
</div>
<section>
    <div class="List-Product">
        <div class="Product">
            <img src="../img/adidas1.jpg" alt="hình sản phẩm">
            <p id="TenSanPham">Giày UltraBoost</p>
            <h3 id="GiaTien">2.520.000<span>đ</span></h3>
            <button>Mua hàng</button>
        </div>
        <div class="Product">
            <img src="../img/adidas2.jpg" alt="hình sản phẩm">
            <p id="TenSanPham">Giày Prophere</p>
            <h3 id="GiaTien">4.220.000<span>đ</span></h3>
            <button>Mua hàng</button>
        </div>
        <div class="Product">
            <img src="../img/adidas3.jpg" alt="hình sản phẩm">
            <p id="TenSanPham">Giày Alphaboost Cloud</p>
            <h3 id="GiaTien">1.250.000<span>đ</span></h3>
            <button>Mua hàng</button>
        </div>
    </div>
    <div class="List-Product">
        <div class="Product">
            <img src="../img/lotgiayadidas.jpg" alt="hình sản phẩm">
            <p>Lót Giày Adidas</p>
            <h3>199.000<span>đ</span></h3>
            <button>Mua hàng</button>
        </div>
        <div class="Product">
            <img src="../img/tatadidas.jpg" alt="hình sản phẩm">
            <p>Tất Adidas</p>
            <h3>89.000<span>đ</span></h3>
            <button>Mua hàng</button>
        </div>
        <div class="Product">
            <img src="../img/baloadidas.jpg" alt="hình sản phẩm">
            <p>Balo Adidas classic</p>
            <h3>1.489.000<span>đ</span></h3>
            <button>Mua hàng</button>
        </div>
    </div>
</section>
<footer>
    <p class="DA2023">Copyright&copy; 2023 Đồ án nhóm 5.</p>
    <div class="member-name">
        <p>Lương Nhật Quang - 2274802010710</p>
        <p>Hồ Duy Luân - 2274802010518</p>
        <p>Trần Ngọc Long - 2274802010504</p>
        <p>Bùi Chí Tuấn - 2274802010960</p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>