<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giỏ hàng</title>
    <link rel="icon" th:href="@{/IMG/logo.jpg}" sizes="">
    <link rel="stylesheet" th:href="@{/CSS/home.css}">
    <link rel="stylesheet" th:href="@{/CSS/giohang.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone" rel="stylesheet">
</head>
<body>
<div class="containerms">
    <table class="main">
        <tr>
            <td class="main-title"><p>Nhóm 2</p></td>
            <td class="main-title"><a th:href="@{/home}"><img th:src="@{/IMG/logo.jpg}" alt="Logo Đồng Hồ" class="Logo"></a></td>
            <td class="main-title">
                <a th:href="@{/home/giohang}" class="main-item">Giỏ hàng<span class="material-icons-outlined">shopping_cart</span></a>
                <a class="main-item">Tài khoản<span class="material-icons-outlined">account_circle</span></a>
            </td>
        </tr>
    </table>
    <ul class="menu">
        <li class="menu-item"><a th:href="@{/home}">Trang chủ</a></li>
        <li class="menu-item brand-items">
            <a>Thương hiệu
                <span class="material-icons-outlined dropdown-icon">arrow_drop_down</span>
            </a>
            <ul class="drdn-menu">
                <li class="drdn-item"><a th:href="@{/home/rolex}">Rolex</a></li>
                <li class="drdn-item"><a th:href="@{/home/casio}">Casio</a></li>
            </ul>
        </li>
        <li class="menu-item brand-items">
            <a>Sản phẩm
                <span class="material-icons-outlined dropdown-icon">arrow_drop_down</span>
            </a>
            <ul class="drdn-menu">
                <li class="drdn-item"><a th:href="@{/home/dong-ho}">Đồng Hồ</a></li>
                <li class="drdn-item"><a th:href="@{/home/phukien}">Phụ kiện</a></li>
            </ul>
        </li>
        <li class="menu-item"><a th:href="@{/home/dichvu}">Dịch vụ</a></li>
    </ul>
</div>
<section>
    <table class="table-total">
        <tr>
            <th>Sản phẩm</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
        </tr>
        <tr>
            <td>Item1</td>
            <td>Item2</td>
            <td>Item3</td>
            <td>Item4</td>
        </tr>
    </table>
</section>
<footer>
    <p class="DA2023">Copyright&copy; 2024 Đồ án nhóm 2.</p>
    <div class="member-name">
        <p>Trương Hoài Khang - 2274802010389</p>
        <p>Nguyễn Văn Phát - 2274802010636</p>
        <p>Bùi Chí Tuấn - 2274802010960</p>
        <p>Lê Dương Hải Đăng - 2274802010175</p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>